body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    border: 100vw;
}
nav{
    margin: auto;
    padding: .5%;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    display:flex;
    
}
nav .logo{
    padding: 10px;
}
nav  a{
    display: inline-block;
    list-style: none;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3rem;
    margin-right: 0%;
    text-decoration: none;
    text-align: center;
}
nav a:hover{
    transform: scale(105%);
    color: rgb(20, 204, 115);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
nav li:hover{
    transform: scale(105%);
    color: rgb(20, 204, 115);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 0px;
    width: 145px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 400;
    justify-content: left;
    text-decoration: none;
    display:flex; 
}

.top img{
    margin-left: 35px;
}
.mid{
    height: 100%;
    width: 100%;   
}
.mid p{
    color: white;
    font-weight:bolder;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    text-align: center;
}
.mid img{
    padding-left:6%;
    margin-top: -5%;
    max-width: 100%;
    height: auto;
}

/* --------------------------------------------------------------------PAGE-2------------------------------------------------------------------------------ */
.images{
    height: auto;
    width: 100%;
    padding-left:  6%;
    display: grid;
    gap:3rem;
    margin-right: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;

}
@media screen{
    .images{
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
.image1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.image1 img{
    height: auto;
    width: 100%;
}
.image1 h1{
    color: white;
    margin: 10px;
    margin-left: 2%;
    font-weight: lighter;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.2rem;
    margin-top:2rem;
}
.image1 p{
    color: gray;
    margin: 0px;
    font-weight: lighter;
    margin-left: 2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: .5rem;
    font-weight: 500;
}
.image1 h1:hover{
    font-family:cursive;
    color: aqua;
}
.image1 p:hover{
    font-family:cursive;
    color: aqua;
}
.image2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
}
.image2 h1:hover{
    font-family:cursive;
    color: aqua;
}
.image2 p:hover{
    font-family:cursive;
    color: aqua;
}
.image2 img{
    height: auto;
    width: 100%;
}
.image2 h1{
    color: white;
    margin: 10px;
    margin-left: 2%;
    font-weight: lighter;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top:2rem;
}
.image2 p{
    color: gray;
    margin: 0px;
    font-weight: lighter;
    margin-left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: .5rem;
    font-weight: 500;
}
.image3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.image3 h1:hover{
    font-family:cursive;
    color: aqua;
}
.image3 p:hover{
    font-family:cursive;
    color: aqua;
}
.image3 img{
    height: auto;
    width: 100%;
}
.image3 h1{
    color: white;
    margin: 10px;
    margin-left: 2%;
    font-weight: lighter;
    justify-content: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top:2rem;
}
.image3 p{
    color: gray;
    margin: 0px;
    font-weight: lighter;
    margin-left: 2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: .5rem;
    font-weight: 500;
    
}
.image4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.image4 h1:hover{
    font-family:cursive;
    color: aqua;
}
.image4 p:hover{
    font-family:cursive;
    color: aqua;
}
.image4 img{
    height: auto;
    width: 100%;
}
.image4 h1{
    color: white;
    margin: 10px;
    margin-left: 2%;
    font-weight: lighter;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top:2rem;
}
.image4 p{
    color: gray;
    margin: 0px;
    font-weight: lighter;
    margin-left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: .5rem;
    font-weight: 500;
}

.image5{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.image5 h1:hover{
    font-family:cursive;
    color: aqua;
}
.image5 p:hover{
    font-family:cursive;
    color: aqua;
}
.image5 img{
    height: auto;
    width: 100%;
}
.image5 h1{
    color: white;
    margin: 10px;
    margin-left: 2%;
    font-weight: lighter;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top:2rem;
}
.image5 p{
    color: gray;
    margin: 0px;
    font-weight: lighter;
    margin-left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: .5rem;
    font-weight: 500;
}

.image6{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.image6 img{
    height: auto;
    width: 100%;
}
.image6 h1:hover{
    font-family:cursive;
    color: aqua;
}
.image6 p:hover{
    font-family:cursive;
    color: aqua;
}
.image6 h1{
    color: white;
    margin: 10px;
    margin-left: 2%;
    font-weight: lighter;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top:2rem;
}
.image6 p{
    color: gray;
    margin: 0px;
    font-weight: lighter;
    margin-left: 2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: .5rem;
    font-weight: 500;
    
}

.image7{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 350rem;

    
}
.image7 h1:hover{
    font-family:cursive;
    color: aqua;
}
.image7 p:hover{
    font-family:cursive;
    color: aqua;
}
.image7 img{
    height: auto;
    width: 100%;
}
.image7 h1{
    color: white;
    margin: 10px;
    margin-left: 2%;
    font-weight: lighter;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top:2rem;
}
.image7 p{
    color: gray;
    margin: 0px;
    font-weight: lighter;
    margin-left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: .5rem;
    font-weight: 500;
}
.image8{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.image8 p:hover{
    font-family:cursive;
    color: aqua;
}
.image8 img{
    height: auto;
    width: 100%;
}
.image8 h1:hover{
    font-family:cursive;
    color: aqua;
}
.image8 h1{
    color: white;
    margin: 10px;
    margin-left: 2%;
    font-weight: lighter;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top:2rem;
}
.image8 p{
    color: gray;
    margin: 0rem;
    font-weight: lighter;
    margin-left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: .5rem;
    font-weight: 500;
}
.image9{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.image9 h1:hover{
    font-family:cursive;
    color: aqua;
}
.image9 p:hover{
    font-family:cursive;
    color: aqua;
}
.image9 img{
    height: auto;
    width: 100%;
}
.image9 h1{
    color: white;
    margin: 10px;
    margin-left: 2%;
    font-weight: lighter;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-top:2rem;
}
.image9 p{
    color: gray;
    margin: 0rem;
    font-weight: lighter;
    margin-left: 2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: .5rem;
    font-weight: 500;
    
}

/* --------------------------------------------------------------------PAGE-3------------------------------------------------------------------------------ */
.main2{
    height: 100%;
    width: 100%;
    
}
.main2 .left{
    height: 35%;
    width: 45%;
    margin-left: 5em;
    margin-top: 5em;
   
}
.left p{
    color: white;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
}
.center{
    display: flex;
    height: 100%;
    width: 95%; 
    gap:4%;
    margin-left: 5em;
    margin-top: 5em;
    justify-content: center;

    
}
.center img{
    height: auto;
    width: 50%;
    
}

.main .right{
    height: 100%;
    width: 40rem;
    width:100%;
    margin-left: 49rem;
    margin-top: 4rem;
    display: flex;
    
}
.right p{
    color: white;
    font-size: 1.35rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    width: 648px;
    height: 154px;
    margin-left:850px;
    margin-top:5rem

}
    

/* -------------------------------------------------------------------PAGE-4------------------------------------------------------------------------------ */
#section1 {
    display: grid;
    gap: auto;
    column-gap: 2.5rem;
}
#img1, #img2, #img3, #img4, #img5{
    width: 100%;
    padding-left: 4rem;
    padding-right: 4.5rem;
    padding-top: 4rem;
}
 #img1{
    grid-row:1/span 3;


    grid-column-start: 1;
    grid-column-end: 3;

}

#img2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}

#img3{
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 5;


}

#img4{
    grid-row-start: 7;
    grid-row: span 3;
    grid-column-start: 1;
    grid-column: span 2;
}
#img5{
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 3;
    grid-column-end: 5;
   
} 


.foter{
    padding-bottom: 20px;
    height: 32px;
    width: 230px;
    margin-top: 5rem;
    display: flex;
} 
footer p{
    color: rgb(150, 145, 145);
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
   margin-top:5rem;
    margin-left: 34px; 
   
} 

.foter img{
    margin-left:  75rem;
    margin-bottom: 4rem;
}
/* ------------------------------------------------------------------RESPONSIVE AND TRANSFORMATION------------------------------------------------------------------- */
img:hover{
    transform: scale(110%);
    cursor: pointer;
}

@media screen and (max-width:600px){
    .right p{
        margin-left:30px;
    }
}
